protobuf
langchain
langchain-openai
tiktoken
langchainhub
chromadb
langgraph
langchain-community
langchain-core
zhipuai
httpx_sse
bs4 
lxml
faiss-cpu
streamlit
gradio
fitz
pil-utils
PyPDF2
langserve
pinecone
sse_starlette
uvicorn
