<!DOCTYPE html>

<!-- thymeleaf命名空间 th -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>办公自动化系统</title>
  <!-- 在Chrome调试工具的Console中看到boostrap找不到jQuery，将JQuery也引入（要先于Bootstrap引入）-->
  <script th:src="@{/js/common/jquery-3.4.1.min.js}" ></script>
  <!-- 在url上使用@标签可以为url自动加上context_path -->
  <!-- 引入Bootstrap的核心文件，该文件从https://v3.bootcss.com下载解压后得到，分别拷贝到user/src/main/resources/static/css,js两个目录下-->
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <script th:src="@{/js/bootstrap.min.js}" ></script>
</head>
<body>

<!-- 导航栏          开始        ↓ ：CSS来自https://v3.bootcss.com/components/ -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- 用调试工具、对照bootcss网站上的样式，可看到这是一个流式布局控件：当页面空间不够时导航栏按钮缩到一个菜单中 -->
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- 更改最左侧的按钮"Brand"为"首页"，并加上链接 -->
      <a class="navbar-brand" th:href="@{/index}">首页</a>
    </div>

    <!-- 导航栏最左侧按钮以外的部分 -->
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!-- 搜索栏左侧的几个按钮：删除不用的按钮，修改链接显式字面 -->
      <ul class="nav navbar-nav">
        <li><a href="#">公文流转 <span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            人员管理 <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a th:href="@{/account/list}">用户列表</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>

      <!-- 搜索块 -->
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="请输入员工姓名或工号">
        </div>
        <button type="搜索" class="btn btn-default">Submit</button>
      </form>

      <!-- 搜索块右侧的下拉菜单: 使用th:if来选择性地显示不同的菜单内容，更多thymeleaf内容见word文档 -->
      <!-- 对于未登录用户 -->
      <ul th:if="${session.account} == null" class="nav navbar-nav navbar-right">
        <li><a th:href="@{/register}">注册</a></li>
        <li><a th:href="@{/account/login}">登录</a></li>
      </ul>
      <!-- 对于已登录用户 -->
      <ul th:if="${session.account} != null" class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <!-- 如何取session中的数据等内容：见word文档 -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            欢迎你：[[${session.account.loginName}]] <span class="caret"/>
          </a>
          <ul class="dropdown-menu">
            <li><a href="@{/account/profile}">个人信息</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a th:href="@{/account/logOut}">退出登录</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!--        导航栏         结束 ↑ -->

<!--        巨幕          开始 ↓：CSS来自：https://v3.bootcss.com/components/ -->
<div class="jumbotron">
  <h1>欢迎使用自动化办公系统</h1>
  <p>version 1.0</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
<!--        巨幕         结束 ↑ -->

</body>
</html>