<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byType">

    <bean id="A1" class="com.javaref.spring.A"></bean>

    <!-- 因为没有依赖注入（强引用），因此保证B在A之前初始化要通过depends-on来保证 -->
    <bean id="A2" class="com.javaref.spring.A" depends-on="B1"></bean>
    <bean id="B1" class="com.javaref.spring.B"></bean>

    <!-- C1不会在Spring加载applicationContext.xml时初始化，而是延迟到getBean时再初始化 -->
    <bean id="C1" class="com.javaref.spring.C" lazy-init="true"></bean>
</beans>

