<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>办公自动化系统</title>
    <!-- 引入css和js
        1. 在url上 使用 @标签 可以自动加上 contextpath
        2. 注意引入的顺序，基础的放在上面，依赖其他css和js的放在下面
    -->
    <!-- bootstrap, icheck css，其中的icheck来自http://icheck.fronteed.com/ -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/skins/all.css}">
    <!-- jquery, bootstrap,icheck js -->
    <script th:src="@{/js/common/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/icheck.min.js}"></script>
</head>
<body>
<!--  导航栏                      开始  			 ↓ -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index">首页</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class=""><a href="#">公文流转</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        人力资源 <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/account/list">员工列表</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        系统设置 <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/manager/accountList">账号列表</a></li>
                        <li><a href="/manager/roleList"> 角色管理</a></li>
                        <li><a href="/manager/permissionList">权限管理</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="请输入员工姓名或工号">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <!--  未登录用户 -->
            <ul th:if="${session.account} ==null" class="nav navbar-nav navbar-right">
                <li><a href="/account/register">注册</a></li>
                <li><a href="/account/login">登录</a></li>
            </ul>
            <!-- 已登录用户    ↓ -->
            <ul th:if="${session.account} !=null" class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        欢迎你 : [[${session.account.loginName}]] <span class="caret"></span> </a>
                    <ul class="dropdown-menu">
                        <li><a href="/account/profile">个人信息</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/account/logOut">退出登录</a></li>
                    </ul>
                </li>
            </ul>
            <!-- 已登录用户   ↑ -->
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!--  导航栏                      结束  			↑       -->
<h1>角色权限</h1>
<a class="btn btn-info" href="/manager/role">返回列表</a><br/>
<br/>
<form id="permissionForm">
    <div>角色名称：<input type="text" name="name" th:value="${role}==null?'':${role.name}" disabled="true"></div>
    <br/>
    <div>角色ID：<input type="text" name="id" th:value="${role}==null?'':${role.id}"></div>
    <br/>
    <div>允许权限：</div>
    <br/>
    <!-- 先在Chrome DevTools上调好样式，再改下面的代码 -->
    <div style="display:flex;">
        <!-- 遍历后端设置到Model中的"pList":List<Permission>，为每个permission生成一个<span>标签 -->
	    <span style="padding-right:5px" th:each="permission:${pList}">
            <!--
                为每个Persmission生成一个checkbox控件
                具体的代码，来自 http://icheck.fronteed.com/ 上Line skin的usage
                <input type="checkbox">
                <label>Checkbox 1</label>
                <input type="checkbox" checked>
                <label>Checkbox 2</label>
            -->
		    <input type="checkbox" th:id="${permission.id}" name="permissions" th:value="${permission.id}">
            <label>[[${permission.name}]]</label>
	    </span>
    </div>
    <br/>
</form>

<!-- 打印出session中的account的permission来看一下，确认前端页面可以拿到 -->
<!-- [[${session.account.permissionList}]] -->

<!-- 提交按钮 -->
<a class="btn btn-default" href="javascript:add();">添加</a>

<!--
    来自icheck.fronteed.com文档（搜"Demo"），用来把一组checkbox勾选为check
    Add checked state to 1 and 3 inputs
    $('#input-1, #input-3').iCheck('check');
-->
<!--
    th:inline="javascript" 让thymeleaf解析标签内的js，同时与thymeleaf的标签混合使用
    [# th:each]
        在循环遍历时，不会生成任何html标签，它生成了一段js （与<span th:each=...>为每个元素生成一个<span>标签不同，）
        它为每个js为一个permission_id执行一段 $('#permission_id').iCheck('check');代码
        从而将这个permission对应的checkbox勾选上
    用Chrome Devtools可以看到这组js
    [# th:utext]
        \\是转义符，为了把'加入到生成的字符串中
        每个''包裹一段字符串，这几段字符串拼接在一起，包裹在""中，作为th:text的值
-->
<script type="text/javascript" th:inline="javascript">
    [# th:each = "p :${role.permissions}"]
        [# th:utext = "'$(\\'#' + ${p.id} + '\\').iCheck(\\'check\\')'" /]
    [/]
</script>
<!-- 另外用<th:block>写双重循环也可以实现这个功能 -->
<br>

<!-- 下面的函数是icheck框架的函数，来自http://icheck.fronteed.com/ 上Line skin的usage -->
<script>
    $(document).ready(function () {
        $('input').each(function () {
            var self = $(this),
                label = self.next(),
                label_text = label.text();
            label.remove();
            self.iCheck({
                checkboxClass: 'icheckbox_line-red',
                radioClass: 'iradio_line',
                insert: '<div class="icheck_line-icon"></div>' + label_text
            });
        });
    });
</script>

<!-- 编写给角色设置权限的异步调用函数 -->
<script type="text/javascript">
    function add() {
        var data = $("#permissionForm").serializeArray();
        console.log(data);
        console.log(JSON.stringify(data));
        $.post("/api/v1/manager/role/permission/add", data, function (data) {
            if (data != '1') {
                alert(data.message)
            }
            console.log(data)
        })
    }
</script>
</body>
</html>